/*  Start Main Rulez */

.container {width: 1170px;margin: auto}

.clearfix {clear: both}

/* End Main Rules */

/* Start Header */

.header .slider {
    background-image: url("../css/d5.jpg");
    background-size: cover; /* Css3 */
    height: 500px;
}

.header .slider .intro {padding-top: 200px;text-align: center;color: #FFF}

.header .slider .intro h2 {
    margin: 0 auto;
    font-size: 50px;
    width: 600px;
    border-top: 4px solid #FFF;
    border-bottom: 4px solid #FFF;
    padding: 5px 0;
    color: #FFF
}

.header .slider .intro button {
    background: none;
    margin-top: 30px;
    font-size: 20px;
    border: 2px solid #FFF;
    font-weight: bold;
    padding: 10px 30px;
    color: #FFF;
}

.header .navbar {background-color: #252F31;color: #FFF;overflow: hidden}

.header .navbar h2 {color: #FFF}

.header .navbar h2 span {color: rgb(99, 190, 220)}

.header .navbar ul {
    list-style: none;
    padding-left: 0;
    overflow: hidden;
    float: right;
}

.header .navbar ul li {float: left;padding: 10px}

.header .navbar ul li a {color: #FFF;text-decoration: none}

.header .navbar ul li.active a,
.header .navbar ul li a:hover {color: rgb(99, 190, 220)}

/* End Header */

/* Start features */

.features {overflow: hidden;padding-top: 40px;padding-bottom: 50px}

.features .feat {width: 33.3333%;height: 150px}

/* End features */

/* Start About Me */

.about-me {background-color: rgb(239, 249, 252);overflow: hidden}

.about-me .image {margin: 35px 75px 0 0; width: 350px; height: 500px;}

.about-me .image img {width: 100%}

.about-me .info {width: 60%}

.about-me .info h2 {margin: 25px 0 20px 40px}

.about-me .info>p {margin: 0 15px 10px 40px}

.about-me .info .profs {overflow: hidden;margin: 15px 0 0 40px}

.about-me .info .profs .contant {width: 50%;overflow: hidden}

.about-me .info .profs .contant h3 {color: rgb(44, 58, 63)}

.about-me .info .profs .contant .icon {width: 12%;margin-right: 5%}

.about-me .info .profs .contant .icon img {max-width: 100%;margin: 40px 10px 0 0}

.about-me .info .profs .contant .text {width: 83%}

.about-me .info .profs .contant .text p {margin-top: 10px}

.about-me .info .profs .contant .text h3 {margin-bottom: 5px}

/* End About Me */

/* Start My Skills */

.my-skills{ padding-top: 30px; padding-bottom: 50px; overflow: hidden }

.my-skills .skills,

.my-skills .progress { width: 50% }

.my-skills .skills h2 { margin: 25px 0 20px 40px }

.my-skills .skills p { margin: 0 0 10px 40px }

.my-skills .skills p:last-of-type { margin-top: 25px }

.my-skills .skills button { margin-left: 40px; margin-top: 20px }

.my-skills .progress .tech { margin-left: 50px }

.my-skills .progress .tech div { background-color: #F2F2F2; height: 25px }

.my-skills .progress .tech div span {
    background-color: rgb(99, 190, 220); 
    height: 25px; display: block; 
    line-height: 25px; text-align: right; 
    color: #FFF; 
    font-weight: bold
}


/* End My Skills */

/* Start Resume */

.resume { background-color:  rgb(239, 249, 252); padding-top: 50px;padding-bottom: 70px; text-align: center }

.resume h2 { font-weight: bold }

.resume p { padding: 0 40px }

.resume button { margin-top: 15px }

/* End My Resume */

/* Start My Education */

.my-education{ padding-top: 30px; padding-bottom: 30px; overflow: hidden }

.my-education .main{ width: 50%; margin-right: 5% }

.my-education .main h2 { margin: 25px 0 20px 40px }

.my-education .main p { margin: 0 0 10px 40px }
.my-education .main > video { margin: 100px 15px 0 15px;}

.my-education .main p:last-of-type { margin-top: 25px }

.my-education .exp{ width: 45% }

.my-education .exp h3 { margin-top: 80px; margin-bottom: 10px }

.my-education .exp span { display: block; margin-bottom: 10px }

.my-education .exp span:first-of-type { color: #666 }

.my-education .exp span:last-of-type {
    background-color:rgb(99, 190, 220);
    color: #FFF ;
    display: inline-block; 
    padding: 4px 10px
}

.my-education .exp hr { margin: 20px 0; background-color: rgb(24, 49, 58); height: 1px; border: 0 }
.my-education .main > table { padding-left: 30px; padding-top: 15px; height: 300px; text-align: center;}
.my-education .main > table th:nth-child(even),td:nth-child(even) {
    background-color: rgb(214, 243, 252);
  } 

/* End My Education */


/* Start Testimonials */

.testi {
    background-color:  rgb(239, 249, 252);
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.testi q {
    line-height: 1.8;
    color: rgb(67, 100, 110);
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    font-family: Arial, Tahoma
}

.testi h3 {margin-bottom: 30px}

.testi ul {list-style: none;padding-left: 0;text-align: center}

.testi ul li {
    width: 15px;
    height: 15px;
    border: 2px solid rgb(99, 190, 220);
    display: inline-block;
    cursor: pointer;
}

.testi ul li.active {background-color: rgb(99, 190, 220)}

.testi ul li:hover {background-color: rgb(99, 190, 220)}

/* End Testimonials */

/* Start Portfolio */

.portofolio {padding-top: 50px;padding-bottom: 70px; text-align: center}

.portofolio p {margin-bottom: 30px}

.portofolio .my-work {overflow: hidden;}

.portofolio .my-work > div {float: left;margin-bottom: 10px; }
.portofolio .my-work > table { background-color:  rgb(239, 249, 252); width: 100%; }
.portfolio .my-work > div img {
    width: 92%;
    margin: 10px;
    padding: 3px;
    background-color: #FFF;
    border: 1px solid #CCC;
}

/* End Portfolio */

/* Start Contact Me */

.contact {
    background-color: #252F31;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 70px;
}

.contact .info {width: 50%;margin-right: 5%}

.contact h2 {color: #FFF;margin-left: 40px}

.contact p {color: #6A6E71;margin-left: 40px;}

.contact p strong {color: #D1D6DA}

.contact .form {width: 45%;}

.contact .form label {display: block;color: #D1D6DA;margin: 10px 0}

.contact .form input[type="text"] {
    background-color: #4B5557;
    color: #FFF;
    padding: 10px;
    border: 0;
    width: 80%;
    margin-bottom: 10px;
}

.contact .form textarea {
    background-color: #4B5557;
    color: #FFF;
    padding: 10px;
    border: 0;
    width: 80%;
    margin-bottom: 10px;
    height: 300px;
}

.contact .form input[type="submit"] {
    background-color: #191E22;
    color: #FFF;
    padding: 10px 20px;
    border: 0;
    margin-top: 10px;
}

/* End Contact Me */

/* Start Footer */

.footer { background-color: #191E22; color: #787C7F; padding: 20px 0; text-align: center }

.footer ul { list-style: none; padding-left: 0; margin: 10px 0 0 }

.footer ul li { display: inline-block }

.footer ul li img { width: 24px }

/* End Footer */

/* Start My Framework */

.my-button {
    background: none;
    border: 3px solid rgb(99, 190, 220);
    padding: 10px 30px;
    color: rgb(99, 190, 220);
    font-weight: bold
}

.fl-left {float: left} /* Floating Element Left */

p {line-height: 1.7;color: rgb(24, 49, 58)}

h2, h3 {color: rgb(24, 49, 58)}

.text-center {text-align: center}

/* End My Framework */